{% extends 'base.html' %}

{% block content %}
        <h1>Books</h1>
        {% if book_list %}
            <ul class="list-group">
                {% for book in book_list %}
                    <li class="list-group-item">
                        <h5>{{ book.title }}</h5>
                        <p>Author: {{ book.author }}</p>
                        <p>Published: {{ book.published_date }}</p>
                        <p>{{ book.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No books available.</p>
        {% endif %}
{% endblock %}